In [1]:
!ls

246 Project.pdf
SBA Loan data .xlsx
SBA Loan database variable description.pdf
mse246Proj.ipynb
~$SBA Loan data .xlsx

In [3]:
import pandas as pd

df = pd.read_excel("SBA Loan data .xlsx")

In [4]:
df.head()

,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,CDC_Name,CDC_Street,CDC_City,CDC_State,...,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,ProjectCounty,ProjectState,BusinessType,LoanStatus,ChargeOffDate,GrossChargeOffAmount
0,504,ROBERT G. FIELDS AND MARY D. F,55 & RICHLAND,KANSAS CITY,KS,66106,Avenue Area Incorporated,3324 Emerald Lane,Jefferson City,MO,...,NaN,12,NaN,NaN,WYANDOTTE,KS,INDIVIDUAL,PIF,NaT,0.0
1,504,CANDLELAMP COMPANY,3454 NIKI WAY,RIVERSIDE,CA,92507,CDC Small Business Finance Cor,2448 Historic Decatur,San Diego,CA,...,NaN,240,NaN,NaN,RIVERSIDE,CA,INDIVIDUAL,PIF,NaT,0.0
2,504,"NATIONAL COMPOSITES, INC.",2303 N. BENDIX DRIVE,SOUTH BEND,IN,46628,Business Development Corporati,218 W. Washington Street,South Bend,IN,...,NaN,120,NaN,NaN,ST JOSEPH,IN,CORPORATION,PIF,NaT,0.0
3,504,WENDY'S OF HARRISBURG,OUTLOT A. TR. 45N & SMALL ST,HARRISBURG,IL,62946,Small Business Growth Corporat,2401 West White Oaks Drive,Springfield,IL,...,NaN,240,NaN,NaN,SALINE,IL,CORPORATION,CHGOFF,2003-03-28,0.0
4,504,"RON SAUNORIS GARDEN CTR, INC.",13747 W. 159TH ST.,LOCKPORT,IL,60441,MISSNG/INACTV LENDER,NaN,NaN,NaN,...,NaN,240,NaN,NaN,WILL,IL,CORPORATION,CANCLD,NaT,0.0

In [5]:
df.columns

Index(['Program', 'BorrName', 'BorrStreet', 'BorrCity', 'BorrState', 'BorrZip',
       'CDC_Name', 'CDC_Street', 'CDC_City', 'CDC_State', 'CDC_Zip',
       'ThirdPartyLender_Name', 'ThirdPartyLender_City',
       'ThirdPartyLender_State', 'ThirdPartyDollars', 'GrossApproval',
       'ApprovalDate', 'ApprovalFiscalYear', 'DeliveryMethod', 'subpgmdesc',
       'InitialInterestRate', 'TermInMonths', 'NaicsCode', 'NaicsDescription',
       'ProjectCounty', 'ProjectState', 'BusinessType', 'LoanStatus',
       'ChargeOffDate', 'GrossChargeOffAmount'],
      dtype='object')

In [9]:
df= df[(df.LoanStatus == "PIF") | (df.LoanStatus == "CHGOFF")]
## loan is either paid in full or written off(charge off)

In [10]:
df.LoanStatus.unique()

array(['PIF', 'CHGOFF'], dtype=object)

In [30]:
df.ProjectCounty.unique()

array(['WYANDOTTE', 'RIVERSIDE', 'ST JOSEPH', ..., 'WHITESIDE', 'GOVE',
       'DEUEL'], dtype=object)

In [39]:
df[['NaicsCode', 'NaicsDescription']].values

array([['nan', nan],
       ['nan', nan],
       ['nan', nan],
       ...,
       ['333220.0',
        'Plastics and Rubber Industry Machinery Manufacturing'],
       ['238210.0',
        'Electrical Contractors and other Wiring Installation Contractors'],
       ['332710.0', 'Machine Shops']], dtype=object)

In [42]:
df.NaicsDescription = df.NaicsDescription.astype(str)

In [45]:
len(df.NaicsCode.unique())

1080

In [43]:
import numpy as np
np.unique(df[['NaicsCode', 'NaicsDescription']].values)

array(['111211.0', '111219.0', '111331.0', ..., 'Yarn Spinning Mills',
       'Yarn Texturizing, Throwing, and Twisting Mills', 'nan'],
      dtype=object)

In [46]:
df[['NaicsCode', 'NaicsDescription']].values

array([['nan', 'nan'],
       ['nan', 'nan'],
       ['nan', 'nan'],
       ...,
       ['333220.0',
        'Plastics and Rubber Industry Machinery Manufacturing'],
       ['238210.0',
        'Electrical Contractors and other Wiring Installation Contractors'],
       ['332710.0', 'Machine Shops']], dtype=object)

In [56]:
s = set()
naics_mapping = {}
ls = df[['NaicsCode', 'NaicsDescription']].values
for row in ls:
    num,des = row
    if num == "nan":
        continue
    num = int(float(num))
    naics_mapping[num] = des

In [71]:
df.columns

Index(['Program', 'BorrName', 'BorrStreet', 'BorrCity', 'BorrState', 'BorrZip',
       'CDC_Name', 'CDC_Street', 'CDC_City', 'CDC_State', 'CDC_Zip',
       'ThirdPartyLender_Name', 'ThirdPartyLender_City',
       'ThirdPartyLender_State', 'ThirdPartyDollars', 'GrossApproval',
       'ApprovalDate', 'ApprovalFiscalYear', 'DeliveryMethod', 'subpgmdesc',
       'InitialInterestRate', 'TermInMonths', 'NaicsCode', 'NaicsDescription',
       'ProjectCounty', 'ProjectState', 'BusinessType', 'LoanStatus',
       'ChargeOffDate', 'GrossChargeOffAmount'],
      dtype='object')

## Useful
* third part dollars
* gross approval
* delivery method???
* initial interest rate
* terms duration(in months)
* naics??? (sectors)
* laon status
* chargeoffdate
* GrosschargeOffAmt

## maybe useful
* approve date(???)

## Not useful columns

* Program: just a single value of 504
* BorrName: Name of borrower
* BorrStreet: who cares about the street
* NaicsDescription: this is just naicsCode, with description, stored in dict
* CDC_Street: uselss
* third party lender: 2.3k unique
* 

Might be useful
* CDC_Name, 296 distinct out of 50k